body {
  padding-top: 70px;
}

.btn-default:after {
  content: " >>";
  font-size: .7em;
  position: relative;
  bottom: .2em;
}

footer {
  margin-top: 30px;
  border-top: 1px #CCC solid;
  padding-top: 40px;
}